<%- include('partials/header') %>

<div class="page-header">
    <h1><i class="fas fa-cog"></i> Site Settings</h1>
    <p>Configure your website information</p>
</div>

<form action="/admin/settings?_method=PUT" method="POST">
    <div class="settings-grid">
        <div class="settings-group">
            <h3>Company Information</h3>
            <% ['company_name', 'company_short', 'tagline', 'address'].forEach(key => { 
                const setting = settings.find(s => s.key === key);
            %>
            <div class="form-group">
                <label><%= key.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase()) %></label>
                <% if (key === 'address') { %>
                <textarea name="<%= key %>" rows="3"><%= setting ? setting.value : '' %></textarea>
                <% } else { %>
                <input type="text" name="<%= key %>" value="<%= setting ? setting.value : '' %>">
                <% } %>
            </div>
            <% }) %>
        </div>

        <div class="settings-group">
            <h3>Contact Details</h3>
            <% ['email', 'phone', 'whatsapp', 'business_hours'].forEach(key => { 
                const setting = settings.find(s => s.key === key);
            %>
            <div class="form-group">
                <label><%= key.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase()) %></label>
                <input type="text" name="<%= key %>" value="<%= setting ? setting.value : '' %>">
            </div>
            <% }) %>
        </div>

        <div class="settings-group" style="grid-column: 1 / -1;">
            <h3>SEO Settings</h3>
            <% ['meta_description', 'meta_keywords'].forEach(key => { 
                const setting = settings.find(s => s.key === key);
            %>
            <div class="form-group">
                <label><%= key.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase()) %></label>
                <textarea name="<%= key %>" rows="3"><%= setting ? setting.value : '' %></textarea>
            </div>
            <% }) %>
        </div>
    </div>

    <div style="margin-top: 24px;">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i> Save All Settings
        </button>
    </div>
</form>

<%- include('partials/footer') %>